@import url('chado_search_custom.css');
@CHARSET "ISO-8859-1";

.chado_search-element-newline {
  float: left;
  width:100%;
  clear:both;
}

/**************** 
  Result Theming 
****************/
.chado_search-result {
	overflow-x: auto;
	width: 100%;
}
/* Result summary */
.chado_search-result-summary {
  float:left;
  width:100%;
  clear:both;
}

/* Result conter */
.chado_search-result-count {
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

/* Result table */
.chado_search-result-table {
  clear:both;
  border: 1px solid #CCCCCC;
  width: 100%;
}

/* No result */
.chado_search-no-result {
  clear:both;
}

/* Result table cell */
.chado_search-result-table td, .chado_search-result-table th {
  padding: 2px 10px;
}

/* Result table header */
.chado_search-result-table th {
  background-color: #BBBBBB;
}

/* Result table even row*/
.chado_search-result-table-even-row {
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

/* Result table odd row*/
.chado_search-result-table-odd-row {
  background-color: #FFFFFF;
}

/* Result download link*/
.chado_search-download-links {
  float:right;
  margin-top:10px;
  margin-bottom:10px;
}

/* Result download label */
.chado_search-download-label {
  float:right;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}

/* Result download separator bar */
.chado_search-download-separator {
  float:right;
  margin-right:10px;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
}

/* The pager */
.chado_search-pager-dropdown {
  clear:both;
  float:right;
  margin-top:20px;
  margin-bottom:20px
}

/* Pager 'Next' button */
.chado_search-pager-next {
   margin-right:0px; 
}

/**************** 
  Search Form Theming 
****************/

/* Widget */
.chado_search-widget, .chado_search-result_widget {
  float: left;
  margin-right: 20px;
}

/*Submit and Reset buttons */
.chado_search-submit, .chado_search-reset {
  margin-top:10px;
  margin-bottom:10px;
}

/* Submit button */
.chado_search-submit {
  clear: left;
}

/* Filter Label */
.chado_search-filter-label {
  float:left;
  padding-top:3px;
  width:80px;
  font-weight:bold;
}

/* File Upload */
.chado_search-file div {
   float:left;
}

/* File Upload Description*/
.chado_search-filter-description {
   clear:both;
   font-size:85%;
}

/* Filter Operator and Filter Field */
.chado_search-filter-field, .chado_search-filter-op {
   float:left;
   margin-left:10px;
}
.chado_search-filter-group {
	margin-left: 0px;
}

/* Waiting box */
.chado_search-waiting-box-overlay {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.4;
  z-index:10;
  display:none;
  background-color: #FFFFFF;
}

.chado_search-waiting-box-message {
  position:fixed;
  top:40%;
  left:45%;
  padding:10px 25px;
  z-index:20;
  border:1px solid #666666;
  display:none;
  background-color: #FFFFFF;
}

/* Throbber */
.chado_search-throbber {
  display:none;
}

/* Fieldset */
.chado_search-fieldset {
  float:left;
  width: 100%;
  padding: 10px;
}

/* Fieldset description*/
.chado_search-fieldset-description {
  padding-top:5px;
  margin-bottom:15px;
}

form[id^='chado-search-wrapper-form'] .form-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.chado_search-dynamic-text-fields-wrapper {
	float: left;
}

/* Custom Output Fieldset */
.chado_search-custom_output-widget {
	width: 100%;
}

.chado_search-custom_output-widget fieldset legend {
  width: auto !important;	
}

/* Progress bar */
.chado_search-waiting-box-progress {
  text-align: center;
  font-size: 90%;
  margin-top:10px;	
}

/* A fix to the new boostrap theme for the SelectFilter */
.chado_search-filter-field span.input-group-addon {
	display: block;
}

#chado_search-filter-qualitative_traits-op1-field {
	margin-left: 40px;
}

#chado_search-filter-qualitative_traits-op2-field {
	margin-left: 40px;
}

#chado_search-filter-quantitative_traits-op1-field {
	margin-left: 40px;
}

#chado_search-filter-quantitative_traits-op2-field {
	margin-left: 40px;
}